.card-container {
  width: fit-content;
  border-radius: 1em;
  border-color: grey;
  box-shadow: 0.15em 0.15em 0.5em grey;
  padding: 0.75em;
  background-color: whitesmoke;
}

.options-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
