.text-blob-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.genericText {
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.error {
  color: red;
}

.children {
  padding-left: 1em;
  padding-top: 0em;
}
